<style>
  .row-view {
    transition: color 0.1s, background-color 0.1s ease-in-out;
  }
  .row-view:hover {
    background-color: #0d6efd;
    color: white;
  }
</style>


<div class="row">
  <%= form_with(model: equipment, html: { class: 'equipment-form'}) do |form| %>
    <% if equipment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>
        <ul>
          <% equipment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row mb-3">
      <table class="table">
        <tbody>
          <tr class="row-view field">
            <th> <%= form.label :name, { class: "form-label" } %></th>
            <td><%= form.text_field :name, { class: "form-control" } %></td>
          </tr>
          <tr class="row-view field">
            <th><%= form.label :description, { class: "form-label" }  %></th>
            <td><%= form.text_area :description, { class: "form-control" }  %></td>
          </tr>
          <tr class="row-view field">
            <th><%= form.label :location, { class: "form-label" }  %></th>
            <td><%= form.text_field :location, { class: "form-control" }  %></td>
          </tr>
          <tr class="row-view field">
            <th><%= form.label :SN, { class: "form-label" }  %></th>
            <td><%= form.text_field :SN, { class: "form-control" }  %></td>
          </tr>
          <tr class="row-view field">
            <th><%= form.label :MN, { class: "form-label" }  %></th>
            <td><%= form.text_field :MN, { class: "form-control" }  %></td>
          </tr>
          <tr class="row-view field">
            <th><%= form.label :lastpm, { class: "form-label" }  %></th>
            <td><%= form.datetime_local_field :lastpm, { class: "form-control" }  %></td> <!-- gets firefox/other browsers to render a default datetime picker -->
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <%= form.submit :Submit, class: 'btn btn-success p-3' %>
    </div>
  <% end %>
</div>