<div class="container">
    <div class="row mb-3 text-center">
        <h1> Editing <%= @equipment.name %> </h1>
    </div>

    <%= render 'form', equipment: @equipment %>

    <div class="row">
        <%= link_to 'Show', @equipment, class: "btn btn-warning p-3" %>
        <%= link_to 'Back', '/', class: "btn btn-danger p-3" %>
        <%= render 'shared/delete', equipment: @equipment %>
    </div>
</div>
