<style>
  .equipment-view {
    transition: color 0.3s, background-color 0.3s ease-in-out;
  }
  .hidden-buttons {
    display: none;
  }
  .equipment-view:hover {
    background-color: #0d6efd;
    color: white;
  }
  .equipment-view:hover .hidden-buttons {
    display: flex;
    flex-direction: column;
  }
</style>

<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row border border-danger border-2 mb-4">
    <h1 class="h1 text-center">Equipment Inventory</h1>
  </div>

  <% @equipment.each_slice(3) do |equipment_group| %>
    <div class="row">
      <% equipment_group.each do |equipment| %>
        <div class="equipment-view col-sm-4 mb-2 p-5 border border-2 border-dark" aria-label="Equipment panel with title, description, location, and 3 buttons to show more details, edit, and delete.">
          <h2>
            <%= equipment.name %>
          </h2>
          <p>
            <%= equipment.description %> <br>
            Location: <%= equipment.location %>
          </p>
          <div class="hidden-buttons">
            <%= link_to 'Show', equipment, class: "btn btn-success p-1 m-1 border border-2 border-dark" %>
            <% if user_signed_in? %>
              <%= link_to 'Edit', edit_equipment_path(equipment), class: "btn btn-warning p-1 m-1 border border-2 border-dark" %>
              <%= render 'shared/delete', equipment: equipment %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="row mt-2">
    <% if user_signed_in? %>
      <%= link_to 'New Equipment', new_equipment_path, class: "btn btn-success p-3" %>
    <% end %>
  </div>
</div>

