<style>
  .left-side {
    text-align: right;
  }
  .row-view {
    transition: color 0.3s, background-color 0.3s ease-in-out;
  }
  .row-view:hover {
    background-color: #0d6efd;
    color: white;
  }
</style>

<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row mb-3 text-center">
    <h1> Showing <%= @equipment.name %> </h1>
  </div>
  <div class="row mb-3">
    <table class="table">
      <tbody>
        <tr class="row-view">
          <th>ID</th>
            <td><%= @equipment.id %></td>
        </tr>
        <tr class="row-view">
          <th>Name</th>
            <td><%= @equipment.name %></td>
        </tr>
        <tr class="row-view">
          <th>Description</th>
            <td><%= @equipment.description %></td>
        </tr>
        <tr class="row-view">
          <th>Location</th>
            <td><%= @equipment.location %></td>
        </tr>
        <tr class="row-view">
          <th>SN</th>
            <td><%= @equipment.SN %></td>
        </tr>
        <tr class="row-view">
          <th>MN</th>
            <td><%= @equipment.MN %></td>
        </tr>
        <tr class="row-view">
          <th>Last PM</th>
            <td><%= @equipment.lastpm %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <%= link_to 'Edit', edit_equipment_path(@equipment), class: "btn btn-warning p-3" %>
    <%= link_to 'Back', equipment_index_path, class: "btn btn-danger p-3" %>
  </div>
</div>
