<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @equipment.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @equipment.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @equipment.location %>
</p>

<p>
  <strong>Sn:</strong>
  <%= @equipment.SN %>
</p>

<p>
  <strong>Mn:</strong>
  <%= @equipment.MN %>
</p>

<p>
  <strong>Lastpm:</strong>
  <%= @equipment.lastpm %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
