<style>
  .left-side {
    text-align: right;
  }
  .row-view {
    transition: color 0.3s, background-color 0.3s ease-in-out;
  }
  .row-view:hover {
    background-color: #0d6efd;
    color: white;
  }
</style>

<div class="row">
  <%= form_with(model: equipment, html: { class: 'equipment-form'}) do |form| %>
    <% if equipment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>
        <ul>
          <% equipment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row mb-3">
      <table class="table">
        <tbody>
          <tr class="row-view field">
            <th><%= form.label :name %></th>
              <td><%= form.text_field :name %></td>
          </tr>
          <tr class="row-view field">
            <th><%= form.label :description %></th>
              <td><%= form.text_field :description %></td>
          </tr>
          <tr class="row-view field">
            <th><%= form.label :location %></th>
              <td><%= form.text_field :location %></td>
          </tr>
          <tr class="row-view field">
            <th><%= form.label :SN %></th>
              <td><%= form.text_field :SN %></td>
          </tr>
          <tr class="row-view field">
            <th><%= form.label :MN %></th>
              <td><%= form.text_field :MN %></td>
          </tr>
          <tr class="row-view field">
            <th><%= form.label :lastpm %></th>
              <td><%= form.text_field :lastpm %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <%= form.submit :Submit, class: 'btn btn-success p-3' %>
    </div>
  <% end %>
</div>