<div class="container mt-5 shadow p-4 bg-white rounded border border-1">
  <div class="row text-center mb-2">
    <h2>Change your password</h2>
  </div>
  <div class="row d-flex align-items-center justify-content-center pb-5">
    <div class="col-5 m-3">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Children%27s_Hospital_Colorado_Colorado_Springs.JPG/800px-Children%27s_Hospital_Colorado_Colorado_Springs.JPG?20220929160406" class="img-fluid" alt="picture of children's hospital">
    </div>
    <div class="col-5 m-3">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>
      
        <div class="field">
          <%= f.label :password, "New password", class: "form-label" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
        </div>
      
        <div class="field">
          <%= f.label :password_confirmation, "Confirm new password", class: "form-label" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>
      
        <div class="actions">
          <%= f.submit "Change my password", class: "btn btn-primary mt-2 p-2" %>
        </div>
              
        <%= render "users/shared/links" %>

      <% end %>
    </div>
  </div>
</div>
